<meta charset="UTF-8">
<style>
    /* block_category */
    @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
    style {
        display: none!important;
    }
    ._customer-category {
        max-width: 626px;
        font-family: Roboto, Arial, sans-serif;
        font-size: 16px;
        color: #000000;
        font-weight: 400;
        margin-top: 30px;
        margin-bottom: 80px;
    }
    ._customer-category__ttl {
        font-family: Arial, sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        color: #0F3F91;
        margin-bottom: 10px;
        font-weight: bold;
        line-height: 21px;
    }
    ._customer-category__cont {
        display: flex!important;
        flex-wrap: wrap;
        margin-top: 25px;
        margin-bottom: 20px;
        justify-content: space-between;
    }
    ._customer-category__list {
        width: 45%;
        margin: 0!important;
    }
    ._customer-category__list_top, ._customer-category__list_bottom {
        margin: 0!important;
        display: block!important;
    }
    ._customer-category__item {
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;
        line-height: 19px;
        display: block!important;
    }
    ._customer-category__item img {
        position: absolute;
        left: 0;
        top: 5px;
    }
    ._customer-category__callback {
        background: linear-gradient(180deg, #2058B8 0%, #0D3B89 100%);
        box-shadow: 0 10px 5px rgba(66, 66, 66, 0.2);
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 24px;
        margin-left: 79px;
        margin-top: 40px;
        position: relative;
        padding-left: 15%;
        padding-right: 9%;
    }
    ._customer-category__callback img {
        position: absolute;
        top: -15px;
        left: -75px;
    }
    ._customer-category__callback_left {
        color: #ffffff;
        text-transform: uppercase;
        line-height: 26px;
        position: relative;
        text-align: center;
        margin-right: 1%;
    }
    ._customer-category__callback_left a {
        color: #ffffff;
        text-decoration: none;
    }
    ._customer-category__callback_left a:hover {
        text-decoration: underline;
    }
    ._customer-category__callback_right {
        display: flex;
        align-items: center;
    }
    ._customer-category__callback_phone {
        padding-left: 23px;
        font-size: 18px;
        font-weight: 700;
        white-space: nowrap;
        position: relative;
    }
    ._customer-category__callback_phone img {
        position: absolute;
        left: 0;
        top: 3px;
    }
    ._customer-category__btn {
        background: #ffffff;
        width: 181px;
        height: 36px;
        line-height: 36px;
        text-transform: uppercase;
        color: #0F3F91;
        text-align: center;
        cursor: pointer;
    }
    ._customer-category__btn:hover {
        opacity: 0.8;
    }
    @media (max-width: 618px) {
        ._customer-category__callback_left {
            margin-bottom: 20px;
        }
        ._customer-category__list {
            width: 100%;
        }
    }
</style>
<!-- block_category -->
<div class="_customer-category">
    <div class="_customer-category__ttl">Плитка тротуарная вибро-прессованая и литая</div>
    <div class="_customer-category__list_top">
        <div class="_customer-category__item">
            <img src="img/block_category/list.png">Высокое качество по ГОСТ 17608-2017
        </div>
        <div class="_customer-category__item">
            <img src="img/block_category/list.png">Скидки при больших заказах
        </div>
        <div class="_customer-category__item">
            <img src="img/block_category/list.png">Отсрочка для постоянных клиентов до 21 дня
        </div>
    </div>
    <div class="_customer-category__cont">
        <div class="_customer-category__list">
            <div class="_customer-category__ttl">Из наличия</div>
            <div class="_customer-category__item">
                <img src="img/block_category/list.png">От 1 м.кв все базовые цвета
            </div>
            <div class="_customer-category__item">
                <img src="img/block_category/list.png">До 3000 м.кв. серая и красная
            </div>
        </div>
        <div class="_customer-category__list">
            <div class="_customer-category__ttl _customer-category__ttl_m">Под заказ</div>
            <div class="_customer-category__item">
                <img src="img/block_category/list.png">От 1 недели и от 30 м.кв
            </div>
            <div class="_customer-category__item">
                <img src="img/block_category/list.png">Любой цвет по RAL
            </div>
        </div>
    </div>
    <div class="_customer-category__ttl">Доставка, разгрузка, укладка</div>
    <div class="_customer-category__list_bottom">
        <div class="_customer-category__item">
            <img src="img/block_category/list.png">От газели до вагона, цена по Екатеринбургу включена в стоимость плитки
        </div>
        <div class="_customer-category__item">
            <img src="img/block_category/list.png">От 450 руб. за м.кв.
        </div>
    </div>
    <div class="_customer-category__callback">
        <img src="img/block_category/image.png">
        <div class="_customer-category__callback_left">
            <div class="_customer-category__callback_question">Задайте вопрос</div>
            <div class="_customer-category__callback_phone">
                <img src="img/block_category/phone.png">
                <a href="tel:+73432072242" onclick="yaCounter51537467.reachGoal('megasite_comblock_tel'); return true;">+7 (343) 207-22-42</a>
            </div>
        </div>
        <div class="_customer-category__callback_right">
            <div class="js-apress-order-button js-get-order-form _customer-category__btn"
                 data-company-id="99636962" data-company-name="УСК" data-company-name-rest="ООО"
                 data-company-url="http://www.жби66.рф" data-ga-id="CK-1193-1"
                 data-params="{&quot;company_id&quot;:99636962}" data-statistics="1" data-type="message"
                 onclick="yaCounter51537467.reachGoal('megasite_comblock_order'); return true;">
                Задать вопрос
            </div>
        </div>
    </div>
</div>