

<style>
	style {
		display: none !important;
	}

	._customer-db {
		display: block !important;
		background: #fff;
		padding: 20px 0;
		margin-bottom: 30px;
		font: normal 16px/1.4 Arial, sans-serif !important;
		font-weight: 400;
	}

	._customer-db__cnt {
		display: inline-block !important;
		vertical-align: middle;
		width: 190px;
		box-sizing: border-box;
		position: relative;
		margin: 0 !important;
		color: #000;
	}

	._customer-db__btn {
		display: inline-flex !important;
		vertical-align: middle;
		justify-content: center;
		align-items: center;
		background-color: #0F3F91;
		border-radius: 4px;
		min-width: 310px;
		box-sizing: border-box;
		padding: 12px 10px 13px;
		text-decoration: none !important;
	}

	._customer-db__btn:hover {
		opacity: 0.85;
	}

	._customer-db__btn-img {
		margin-right: 20px;
	}

	._customer-db__btn-cnt {
		font-size: 16px !important;
		color: #FFFFFF;
	}
</style>

<div class="_customer-db">
	<p class="_customer-db__cnt">Скачать прайс-лист</p>
	<a onclick="yaCounter51537467.reachGoal('megasite_comblock_download'); return true;" class="_customer-db__btn" href="https://st12.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/021/612/%D0%90%D1%81%D1%84%D0%B0%D0%BB%D1%8C%D1%82%D0%BE%D0%B1%D0%B5%D1%82%D0%BE%D0%BD%D0%BD%D1%8B%D0%B5_%D1%81%D0%BC%D0%B5%D1%81%D0%B8.xlsx?1551090651">
		<img class="_customer-db__btn-img" src="/system/ckeditor_assets/pictures/133132/content_pin.png" />
		<span class="_customer-db__btn-cnt">Асфальтобетонные_смеси.xlsx</span>
	</a>
</div>

<div class="_customer-db">
	<p class="_customer-db__cnt">Скачать прайс-лист</p>
	<a onclick="yaCounter51537467.reachGoal('megasite_comblock_download'); return true;" class="_customer-db__btn" href="https://st12.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/021/613/%D0%91%D0%B5%D1%82%D0%BE%D0%BD%D0%BD%D0%BE-%D1%80%D0%B0%D1%81%D1%82%D0%B2%D0%BE%D1%80%D0%BD%D1%8B%D0%B5_%D1%81%D0%BC%D0%B5%D1%81%D0%B8.xlsx?1551090651">
		<img class="_customer-db__btn-img" src="/system/ckeditor_assets/pictures/133132/content_pin.png" />
		<span class="_customer-db__btn-cnt">Бетонно-растворные_смеси.xlsx</span>
	</a>
</div>

<div class="_customer-db">
	<p class="_customer-db__cnt">Скачать прайс-лист</p>
	<a onclick="yaCounter51537467.reachGoal('megasite_comblock_download'); return true;" class="_customer-db__btn" href="https://st12.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/021/614/%D0%91%D0%B5%D1%82%D0%BE%D0%BD%D0%BD%D1%8B%D0%B5_%D0%B8%D0%B7%D0%B4%D0%B5%D0%BB%D0%B8%D1%8F.xlsx?1551090651">
		<img class="_customer-db__btn-img" src="/system/ckeditor_assets/pictures/133132/content_pin.png" />
		<span class="_customer-db__btn-cnt">Бетонные_изделия.xlsx</span>
	</a>
</div>

<div class="_customer-db">
	<p class="_customer-db__cnt">Скачать прайс-лист</p>
	<a onclick="yaCounter51537467.reachGoal('megasite_comblock_download'); return true;" class="_customer-db__btn" href="https://st12.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/021/615/%D0%96%D0%91%D0%98.xlsx?1551090651">
		<img class="_customer-db__btn-img" src="/system/ckeditor_assets/pictures/133132/content_pin.png" />
		<span class="_customer-db__btn-cnt">ЖБИ.xlsx</span>
	</a>
</div>

<div class="_customer-db">
	<p class="_customer-db__cnt">Скачать прайс-лист</p>
	<a onclick="yaCounter51537467.reachGoal('megasite_comblock_download'); return true;" class="_customer-db__btn" href="https://st12.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/021/616/%D0%98%D0%BD%D0%B5%D1%80%D1%82%D0%BD%D1%8B%D0%B5_%D0%BC%D0%B0%D1%82%D0%B5%D1%80%D0%B8%D0%B0%D0%BB%D1%8B.xlsx?1551090651">
		<img class="_customer-db__btn-img" src="/system/ckeditor_assets/pictures/133132/content_pin.png" />
		<span class="_customer-db__btn-cnt">Инертные_материалы.xlsx</span>
	</a>
</div>