<meta charset="UTF-8">
<style>
    /* block_category */
    @import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
    style {
        display: none!important;
    }
    ._customer-category-btm__wrap {
        max-width: 627px;
    }
    ._customer-category-btm {
        font-family: Roboto, Arial, sans-serif;
        font-size: 16px;
        color: #000000;
        font-weight: 400;
        margin-top: 50px;
        margin-bottom: 50px;
        border: 2px solid #0F3F91;
        box-sizing: border-box;
        box-shadow: 0 10px 10px rgba(15, 63, 145, 0.3);
        border-radius: 4px;
        padding: 20px 20px 10px 20px;
        position: relative;
    }
    ._customer-category-btm__img {
        position: absolute;
        right: 10px;
        top: -30px;
    }
    ._customer-category-btm__ttl {
        font-family: Arial, sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        color: #0F3F91;
        margin-bottom: 30px;
        font-weight: bold;
        line-height: 21px;
    }
    ._customer-category-btm__cont {
        display: flex!important;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
    }
    ._customer-category-btm__list {
        display: block!important;
        width: 46%;
    }
    ._customer-category-btm__item {
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;
        line-height: 19px;
        display: block!important;
    }
    ._customer-category-btm__item img {
        position: absolute;
        left: 0;
        top: 5px;
    }
    ._customer-category-btm__callback {
        max-width: calc(627px - 79px);
        box-sizing: border-box;
        font-family: Roboto, Arial, sans-serif;
        background: linear-gradient(180deg, #2058B8 0%, #0D3B89 100%);
        box-shadow: 0 10px 5px rgba(66, 66, 66, 0.2);
        border-radius: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 24px;
        margin-left: 79px;
        margin-top: 40px;
        position: relative;
        padding-left: 15%;
        padding-right: 9%;
        margin-bottom: 50px;
    }
    ._customer-category-btm__callback img {
        position: absolute;
        top: -15px;
        left: -75px;
    }
    ._customer-category-btm__callback_left {
        color: #ffffff;
        text-transform: uppercase;
        line-height: 26px;
        position: relative;
        text-align: center;
        margin-right: 1%;
    }
    ._customer-category-btm__callback_left a {
        color: #ffffff;
        text-decoration: none;
    }
    ._customer-category-btm__callback_left a:hover {
        text-decoration: underline;
    }
    ._customer-category-btm__callback_right {
        display: flex;
        align-items: center;
    }
    ._customer-category-btm__callback_phone {
        padding-left: 23px;
        font-size: 18px;
        font-weight: 700;
        white-space: nowrap;
        position: relative;
    }
    ._customer-category-btm__callback_phone img {
        position: absolute;
        left: 0;
        top: 3px;
    }
    ._customer-category-btm__btn {
        background: #ffffff;
        width: 181px;
        height: 36px;
        line-height: 36px;
        text-transform: uppercase;
        color: #0F3F91;
        text-align: center;
        cursor: pointer;
    }
    ._customer-category-btm__btn:hover {
        opacity: 0.8;
    }
    @media (max-width: 618px) {
        ._customer-category-btm__callback_left {
            margin-bottom: 20px;
        }
        ._customer-category-btm__list {
            width: 100%;
        }
    }
    @media (max-width: 618px) {
        ._customer-category-btm__list {
            width: 100%;
        }
    }
</style>
<!-- block_category -->
<div class="_customer-category-btm__wrap">
    <div class="_customer-category-btm">
        <img class="_customer-category-btm__img" src="img/block_category/image-bottom.png">
        <div class="_customer-category-btm__ttl">Тротуарная плитка</div>
        <div class="_customer-category-btm__cont">
            <div class="_customer-category-btm__list">
                <div class="_customer-category-btm__item">
                    <img src="img/block_category/list.png">Вибро- прессованная и литая
                </div>
                <div class="_customer-category-btm__item">
                    <img src="img/block_category/list.png">ГОСТ 17608-2017
                </div>
                <div class="_customer-category-btm__item">
                    <img src="img/block_category/list.png">Из наличия от 1 м.кв
                </div>
                <div class="_customer-category-btm__item">
                    <img src="img/block_category/list.png">Под заказ от 30 м.кв любого цвета по RAL
                </div>
                <div class="_customer-category-btm__item">
                    <img src="img/block_category/list.png">Всегда в наличии серая и красная плитка до 3 000 м.кв.
                </div>
            </div>
            <div class="_customer-category-btm__list">
                <div class="_customer-category-btm__item">
                    <img src="img/block_category/list.png">Доставка от газели до вагона (по Екатеринбургу цена включена в стоимость)
                </div>
                <div class="_customer-category-btm__item">
                    <img src="img/block_category/list.png">Укладка от 450 руб. за м.кв.
                </div>
                <div class="_customer-category-btm__item">
                    <img src="img/block_category/list.png">Скидки при больших заказах
                </div>
            </div>
        </div>
    </div>

    <div class="_customer-category-btm__callback">
        <img src="img/block_category/image.png">
        <div class="_customer-category-btm__callback_left">
            <div class="_customer-category-btm__callback_question">Задайте вопрос</div>
            <div class="_customer-category-btm__callback_phone">
                <img src="img/block_category/phone.png">
                <a href="tel:+73432072242" onclick="yaCounter51537467.reachGoal('megasite_comblock_tel'); return true;">+7 (343) 207-22-42</a>
            </div>
        </div>
        <div class="_customer-category-btm__callback_right">
            <div class="js-apress-order-button js-get-order-form _customer-category-btm__btn"
                 data-company-id="99636962" data-company-name="УСК" data-company-name-rest="ООО"
                 data-company-url="http://www.жби66.рф" data-ga-id="CK-1193-1"
                 data-params="{&quot;company_id&quot;:99636962}" data-statistics="1" data-type="message"
                 onclick="yaCounter51537467.reachGoal('megasite_comblock_order'); return true;">
                Задать вопрос
            </div>
        </div>
    </div>
</div>
